#dunkirk {
  --entry-bg: url('images/dunkirk.jpg');
  --entry-title: #B3DCEB;
  --entry-subtitle: #8DB1C7;
  --entry-body: #335F76;
  --entry-fade: #081217;
}

#blade_runner_2049 {
  --entry-bg: url('images/blade_runner_2049.png');
  --entry-title: #EBC18B;
  --entry-subtitle: #D17411;
  --entry-body: #AA4D08;
  --entry-fade: #1F0D05;
}

#baby_driver {
  --entry-bg: url('images/baby_driver.jpg');
  --entry-title: #E14C6A;
  --entry-subtitle: #EA7284;
  --entry-body: #ECCAA4;
  --entry-fade: #381C19;
}

#drive {
  --entry-bg: url('images/drive.jpg');
  --entry-bg-pos: top;
  --entry-title: #D3DAD1;
  --entry-subtitle: #12B6BF;
  --entry-body: #0484B5;
  --entry-fade: #042A47;
}

#hot_fuzz {
  --entry-bg: url('images/hot_fuzz.jpg');
  --entry-title: #8CBCB4;
  --entry-subtitle: #C5D4CA;
  --entry-body: #98AAA6;
  --entry-fade: #524438;
}

#lotr {
  --entry-bg: url('images/lotr.jpg');
  --entry-title: #C3CFB7;
  --entry-subtitle: #B7C8C1;
  --entry-body: #6F9083;
  --entry-fade: #313D36;
}