:root {
  --entry-bg: url('');
  --entry-bg-pos: center;
  --entry-title: white;
  --entry-subtitle: lightgrey;
  --entry-body: grey;
  --entry-fade: black;
}

#spider-man_into_the_spider-verse {
  --entry-bg: url('images/films/spider-man_into_the_spider-verse.jpg');
  --entry-title: #D70E13;
  --entry-subtitle: #AACEEA;
  --entry-body: #7FABD3;
  --entry-fade: #191F33;
}

#dunkirk {
  --entry-bg: url('images/films/dunkirk.jpg');
  --entry-title: #B3DCEB;
  --entry-subtitle: #8DB1C7;
  --entry-body: #335F76;
  --entry-fade: #081217;
}

#blade_runner_2049 {
  --entry-bg: url('images/films/blade_runner_2049.png');
  --entry-title: #EBC18B;
  --entry-subtitle: #D17411;
  --entry-body: #AA4D08;
  --entry-fade: #1F0D05;
}

#baby_driver {
  --entry-bg: url('images/films/baby_driver.jpg');
  --entry-title: #E14C6A;
  --entry-subtitle: #EA7284;
  --entry-body: #ECCAA4;
  --entry-fade: #381C19;
}

#grand_budapest_hotel {
  --entry-bg: url('images/films/grand_budapest_hotel.jpg');
  --entry-title: #c3403c;
  --entry-subtitle: #AB7A76;
  --entry-body: #91483b;
  --entry-fade: #1E1215;
}

#drive {
  --entry-bg: url('images/films/drive.jpg');
  --entry-bg-pos: top;
  --entry-title: #D3DAD1;
  --entry-subtitle: #12B6BF;
  --entry-body: #0484B5;
  --entry-fade: #042A47;
}

#dark_knight {
  --entry-bg: url('images/films/dark_knight.jpg');
  --entry-bg-pos: top;
  --entry-title: #A9B7AF;
  --entry-subtitle: #55818C;
  --entry-body: #215E78;
  --entry-fade: #041129;
}

#hot_fuzz {
  --entry-bg: url('images/films/hot_fuzz.jpg');
  --entry-title: #8CBCB4;
  --entry-subtitle: #C5D4CA;
  --entry-body: #98AAA6;
  --entry-fade: #524438;
}

#incredibles {
  --entry-bg: url('images/films/incredibles.jpg');
  --entry-title: #D61721;
  --entry-subtitle: #E5652D;
  --entry-body: #CC937A;
  --entry-fade: #441316;
}

#lotr {
  --entry-bg: url('images/films/lotr.jpg');
  --entry-title: #C3CFB7;
  --entry-subtitle: #B7C8C1;
  --entry-body: #6F9083;
  --entry-fade: #313D36;
}
