html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica", sans-serif;
  color: white;
  background: black;
}

header {
  height: 100%;
  padding: 50px;
  padding-bottom: 0px;
  margin: 0px;
  text-align: center;
}

header .box {
  width: 600px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border: solid;
}

header .arrow {
  position: absolute;
  width: 40px;
  bottom: 20px;
  margin: 0px;
}

.entry {
  /* width: 100%; */
  height: 500px;
  padding: 50px;
  margin: 0px;
  color: var(--entry-body);
  background: linear-gradient(to right, var(--entry-fade), transparent),
    var(--entry-bg) no-repeat var(--entry-bg-pos);
  background-size: cover;
}

.entry li {
  list-style-type: none;
  padding: 5px;
}

.entry .title {
  color: var(--entry-title);
}

.entry .subtitle {
  color: var(--entry-subtitle);
}

.entry a {
  text-decoration: none;
  color: inherit;
}

.entry a:hover {
  text-decoration: underline;
}

#honors ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
